//! **************************************************************************
// Written by: Map H.39 on Wed May 04 01:00:04 2005
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
